@charset "UTF-8";
body {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.65; /* 29.772px */
  color: var(--general-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.lable {
  font-family: "Yellowtail";
  font-size: 36px;
  font-weight: 400;
  color: var(--green-color);
}

.general-title {
  font-family: "Roboto";
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
  color: var(--title-color);
}

.title {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 800;
  line-height: normal;
  color: var(--title-color);
}

.subtitle {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 800;
  line-height: normal;
  color: var(--title-color);
}

.medium-text {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: var(--title-color);
}

.button-blue {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  color: var(--white-color);
  border-radius: 16px;
  border: 1px solid var(--title-color);
  background: var(--title-color);
  cursor: pointer;
}

.button-yellow {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  border-radius: 16px;
  border: 1px solid var(--yellow-color);
  background: var(--yellow-color);
  cursor: pointer;
}

.button-white {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  border-radius: 16px;
  border: 1px solid var(--title-color);
  background: var(--white-color);
  cursor: pointer;
}

.tag {
  padding: 5px 12px 6px 12px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  color: var(--white-color);
  border-radius: 8px;
  background: var(--title-color);
}

.hidden {
  overflow: hidden;
}

@media screen and (max-width: 1199.98px) {
  .general-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 991.98px) {
  .general-title {
    font-size: 38px;
  }
  .lable {
    font-size: 28px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

:root {
  --title-color: #274C5B;
  --general-color: #525C60;
  --yellow-color: #EFD372;
  --green-color: #7EB693;
  --grey-color: #D4D4D4;
  --white-color: #fff;
  --price-color: #B8B8B8;
  --button-color: #EFF6F1;
  --light-grey-color: #F9F8F8;
}

.header__container {
  max-width: 1900px;
  margin: 0 auto;
  padding-left: 162px;
  padding-right: 162px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-family: "Roboto";
  font-size: 38px;
  font-weight: 700;
  color: var(--title-color);
}

.header__logo-icon {
  width: 37px;
  height: 54px;
}

.header__list {
  display: flex;
  padding: 26px 0px;
  gap: 40px;
}

.header__link {
  position: relative;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
}
.header__link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: var(--title-color); /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}
.header__link:hover::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: var(--title-color); /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}

.header__icon-arrow {
  width: 10px;
  height: 10px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.header__search {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 376px;
  padding: 5px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__search:hover {
  border: 1px solid var(--title-color);
}

.header__wrapper-search {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--green-color);
  cursor: pointer;
}

.header__icon-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
}

.header__input {
  width: 290px;
  outline: none;
  border: solid 1px var(--white-color);
}

.header__cart {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 159px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__cart:hover {
  border: 1px solid var(--title-color);
}

.header__wrapper-cart {
  position: relative;
  margin-right: 12px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--title-color);
}

.header__icon-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 22px;
}

.header__text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  color: var(--title-color);
}

.header__burger-icon {
  display: none;
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: var(--title-color);
}

@media screen and (max-width: 1649.98px) {
  .header__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1399.98px) {
  .header__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__list {
    gap: 20px;
  }
  .header__wrapper {
    column-gap: 10px;
  }
  .header__search {
    width: 280px;
  }
  .header__input {
    width: 200px;
  }
}
@media screen and (max-width: 1169.98px) {
  .header__nav {
    display: none;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__burger-icon {
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  .header__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__logo {
    font-size: 28px;
  }
  .header__wrapper {
    display: none;
  }
}
@media screen and (max-width: 479.98px) {
  .header__logo {
    font-size: 20px;
  }
}
.hero {
  position: relative;
  background-image: url("../img/hero/hero_main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__img-garlic {
  position: absolute;
  top: 20px;
  left: 20px;
}

.hero__img-sead {
  position: absolute;
  top: 220px;
  left: 135px;
}

.hero__img-many_leaf {
  position: absolute;
  bottom: 20px;
  left: 0px;
}

.hero__img-sead_big {
  position: absolute;
  top: 0px;
  right: 135px;
}

.hero__img-leaf {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hero__container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__img-decor {
  position: absolute;
  top: 50px;
  left: 40%;
}

.hero__content {
  padding-top: 223px;
  padding-bottom: 246px;
}

.hero__lable {
  margin-bottom: 8px;
}

.hero__title {
  max-width: 530px;
  margin-bottom: 23px;
}

.hero__button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 29px 38px;
  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background-color: inherit;
  border: 1px solid var(--title-color);
}

.hero__icon-arrow {
  width: 19px;
  height: 19px;
}

@media screen and (max-width: 767.98px) {
  .hero__img-sead,
.hero__img-sead_big,
.hero__img-leaf {
    display: none;
  }
}
@media screen and (max-width: 549.98px) {
  .hero__img-garlic {
    display: none;
  }
}
.main__banner-container {
  padding-top: 145px;
  padding-bottom: 190px;
}

.main__banner-list {
  display: flex;
  column-gap: 36px;
}

.main__banner-item {
  position: relative;
  border-radius: 30px;
  cursor: pointer;
}

.left {
  transition: box-shadow 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.left:hover {
  box-shadow: 0px 0px 10px 5px rgb(249, 104, 147);
}

.right {
  transition: box-shadow 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.right:hover {
  box-shadow: 0px 0px 20px 5px rgb(197, 211, 223);
}

.main__banner-img {
  display: block;
  border-radius: 30px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.main__banner-wrapper-left {
  position: absolute;
  top: 100px;
  left: 40px;
  color: var(--white-color);
}

.main__banner-wrapper-right {
  position: absolute;
  top: 100px;
  left: 40px;
  color: var(--title-color);
}

.main__banner-lable-left {
  color: var(--white-color);
}

.main__banner-lable-right {
  color: var(--green-color);
}

.main__banner-title {
  width: 260px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

@media screen and (max-width: 1199.98px) {
  .main__banner-container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .main__banner-list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .main__banner-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767.98px) {
  .main__banner-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main__banner-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 599.98px) {
  .main__banner-wrapper-left {
    top: 40px;
  }
  .main__banner-wrapper-right {
    top: 40px;
  }
  .main__banner-title {
    width: 180px;
  }
}
@media screen and (max-width: 479.98px) {
  .main__banner-wrapper-left {
    left: 20px;
  }
  .main__banner-wrapper-right {
    left: 20px;
  }
  .main__banner-title {
    font-size: 18px;
  }
}
.burger__menu {
  display: none;
}

.burger__container {
  position: fixed;
  top: 74px;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 15px 40px 15px;
  background-color: var(--silver-color);
}

.burger__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.active__burger {
  display: block;
}

.swiper {
  width: 600px;
  height: 300px;
}

.backdrop {
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window-container {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.modal__window-body {
  text-align: center;
  border-radius: 10px;
}

.is-open {
  opacity: 1;
  pointer-events: fill;
}/*# sourceMappingURL=main.css.map */