.about__hero {
    position: relative;
    background-image: url('../img/hero/hero_about.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.about__garlic {
    position: absolute;
    top: 20px;
    left: 35%;
    width: 140px;
    height: 140px;
    fill: #D1D1D1;
}
.about__sead {
    position: absolute;
    bottom: 40px;
    left: 35%;
    width: 100px;
    height: 100px;
    fill: #E1D4DB;
}
.about__many_leaf {
    position: absolute;
    bottom: -93px;
    left: 19%;
    width: 240px;
    height: 240px;
    fill: #DBD0D3;
}
.about__sead_big {
    position: absolute;
    bottom: 20px;
    right: 47%;
    width: 120px;
    height: 120px;
    fill: #DDD9DA;
}
.about__strawberry {
    position: absolute;
    top: 0px;
    left: 63%;
    transform: rotate(90deg);
    width: 140px;
    height: 140px;
    fill: #D3CBCF;
}
.about__hero-container {
    position: relative;
    padding-top: 184px;
    padding-bottom: 184px;
}
.about__hero-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1399.98px){
    .about__sead {
        display: none;
    }
}
@media screen and (max-width: 991.98px){
    .about__many_leaf {
        display: none;
    }
}
@media screen and (max-width: 479.98px){
    .about__strawberry {
        display: none;
    }
}
