.burger__menu {
    display: none;
}
.burger__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 15px 40px 15px;
    background-color: var(--white-color);
    &::before {
        content: "";
        display: block;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        background-color: var(--white-color);
    }
}
.burger__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 100px;
}
.burger__icon-close {
    display: none;
    position: relative;
    z-index: 25;
}
.burger-close {
    width: 20px;
    height: 20px;
    fill: var(--title-color);
}
.burger__nav {
}
.burger__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.burger__item {
   
}
.burger__link {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    color: var(--title-color);
    transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--green-color);
    }
}
.burger__search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 376px;
    padding: 5px;
    border-radius: 33px;
    border: 1px solid #E0E0E0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border: 1px solid var(--title-color);
    }
}
.burger__wrapper-search {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--green-color);
    cursor: pointer;
}
.burger__icon-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 21px;
}
.burger__input {
    width: 290px;
    outline: none;
    border: solid 1px var(--white-color);
}
.burger__cart {
    display: none;
    align-items: center;
    padding: 5px;
    width: 159px;
    border-radius: 33px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border: 1px solid var(--title-color);
    }
}
.burger__wrapper-cart {
    position: relative;
    margin-right: 12px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--title-color);
}
.burger__icon-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 22px;
}
.burger__text {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
    color: var(--title-color);
}
.active__burger {
    display: block;
}
@media screen and (max-width: 991.98px){
    .burger__nav {
        display: block;
    }
    .burger__search,
    .burger__cart {
        display: flex;
    }
}
@media screen and (max-width: 767.98px){
    .burger__container {
        &::before {
            height: 80px;
        }
    }
    .burger__body {
        margin-top: 70px;
    }
}
@media screen and (max-width: 479.98px){
    .burger__search {
        width: 280px;
    }
    .burger__input {
        width: 210px;
    }
}