.contact__hero {
    position: relative;
    background-image: url('../img/hero/hero_contact.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.contact__hero-garlic {
    position: absolute;
    top: 20px;
    right: 36%;
    width: 140px;
    height: 140px;
    fill: #FDB120;
}
.contact__hero-sead {
    position: absolute;
    top: 180px;
    left: 34%;
    transform: rotate(270deg);
    width: 90px;
    height: 90px;
    fill: #FFC19E;
}
.contact__hero-sead_big {
    position: absolute;
    top: 180px;
    right: 32%;
    width: 130px;
    height: 130px;
    transform: rotate(95deg);
    fill: #FFC1AC;
}
.contact__hero-container {
    position: relative;
    padding-top: 184px;
    padding-bottom: 184px;
}
.contact__hero-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 991.98px){
    .contact__hero {
        background-position: left;
    }
    .contact__hero-garlic,
    .contact__hero-sead,
    .contact__hero-sead_big {
        display: none;
    }
}
@media screen and (max-width: 767.98px){
    .contact__hero-title {
        color: #0babeb;
    }
}
