.contact__hero {
    position: relative;
    background-image: url('../img/hero/hero_contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.contact__hero-img-garlic {
    position: absolute;
    top: 20px;
    right: 36%;
    width: 140px;
    height: 140px;
}
.contact__hero-img-sead {
    position: absolute;
    top: 180px;
    left: 34%;
    transform: rotate(270deg);
}
.contact__hero-img-sead_big {
    position: absolute;
    top: 180px;
    right: 32%;
    transform: rotate(60deg);
}
.contact__hero-container {
    position: relative;
    padding-top: 184px;
    padding-bottom: 184px;
}
.contact__hero-img-decor {
    position: absolute;
    top: 0px;
    left: 68%;
    transform: rotate(90deg);
    width: 140px;
    height: 140px;
}
.contact__hero-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 767.98px){
    .contact__hero-img-sead_big {
        display: none;
    }
}