.contact__address-container {
    position: relative;
    padding-bottom: 100px;
}
.contact__address-bg-img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.contact__address-body {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 20;
    max-width: 514px;
    padding: 46px 53px;
    background-color: var(--white-color);
    border-radius: 30px;
}
.contact__address-title {
    margin-bottom: 10px;
}
.contact__address-text {
    margin-bottom: 19px;
}
.contact__address-list {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}
.contact__address-item {
    display: flex;
}
.contact__address-icon {
    margin-right: 7px;
    width: 50px;
    height: 50px;
}
.contact__address-wrapper {
    max-width: 256px;
}
.contact__address-subtitle {
    font-weight: 700;
}
.contact__address-link {
    color: var(--general-color);
    &:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width: 1299.98px){
    .contact__address-body {
        top: 40px;
    }
}
@media screen and (max-width: 1199.98px){
    .contact__address-container {
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 1119.98px){
    .contact__address-body {
        top: 10px;
    }
    .contact__address-body {
        max-width: 514px;
        padding: 26px 33px;
    }
}
@media screen and (max-width: 991.98px){
    .contact__address-container {
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 944.98px){
    .contact__address-bg-img {
        display: none;
    }
    .contact__address-body {
        position: relative;
        top: 0px;
        left: 20%;
        padding: 15px;
    }
}
@media screen and (max-width: 767.98px){
    .contact__address-container {
        padding-bottom: 20px;
    }
    .contact__address-body {
        left: 0px;
    }
}