.footer__container {
    padding-top: 115px;
}
.footer__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 138px;
}
.footer__contact-title {
    margin-bottom: 32px;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    color: var(--title-color);
    text-align: right;
}
.footer__contact-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: right;
}
.footer__item-title {
    font-weight: 800;
}
.footer__contact-link {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65; /* 29.772px */
    color: var(--general-color);
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--green-color);
        text-decoration: underline;
    }
}
.footer__wrapper-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer__logo {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-family: "Roboto";
    font-size: 38px;
    font-weight: 700;
    color: var(--title-color);
}
.footer__logo-icon {
    width: 37px;
    height: 54px;
}
.footer__social-text {
    max-width: 543px;
    margin-top: 23px;
}
.footer__social-list {
    display: flex;
    column-gap: 15px;
    margin-top: 49px;
}
.footer__social-link {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--button-color);
    transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: var(--green-color);
    }
}
.footer__social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}
.footer__utility-title {
    margin-bottom: 24px;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    color: var(--title-color);
}
.footer__utility-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__utility-link {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65; /* 29.772px */
    color: var(--general-color);
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--green-color);
        text-decoration: underline;
    }
}
.footer__policy-text {
    margin-top: 17px;
    text-align: center;
}
.footer__line {
    display: block;
    height: 1px;
    max-width: auto;
    background-color: var(--grey-color);
}
.strong {
    font-weight: 700;
}
@media screen and (max-width: 1199.98px){
    .footer__container {
        padding-top: 90px;
    }
    .footer__body {
        margin-bottom: 90px;
    }
    
}
@media screen and (max-width: 991.98px){
    .footer__container {
        padding-top: 60px;
    }
    .footer__body {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    .footer__wrapper-contact {
        order: 2;
    }
    .footer__wrapper-social {
        order: 1;
    }
    .footer__wrapper-utility {
        order: 3;
        text-align: center;
    }
    .footer__contact-title,
    .footer__contact-list  {
        text-align: center;
    }
    .footer__contact-title,
    .footer__utility-title {
        margin-bottom: 20px;
    }
    .footer__utility-list,
    .footer__contact-list {
        row-gap: 10px;
    }
    .footer__social-text {
        margin-top: 15px;
    }
    .footer__social-list {
        margin-top: 20px;
    }
}
@media screen and (max-width: 767.98px){
    .footer__container {
        padding-top: 20px;
    }
    .footer__body {
        margin-bottom: 20px;
    }
}