.main__banner-container {
    padding-top: 145px;
    padding-bottom: 190px;
}
.main__banner-list {
    display: flex;
    column-gap: 36px;
}
.main__banner-item {
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}
.left {
    transition: box-shadow 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 0px 10px 5px rgb(249, 104, 147);
    }
}
.right {
    transition: box-shadow 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 0px 20px 5px rgb(197, 211, 223);
    }
}
.main__banner-img {
    display: block;
    border-radius: 30px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.main__banner-wrapper-left {
    position: absolute;
    top: 100px;
    left: 40px;
    color: var(--white-color);
}
.main__banner-wrapper-right {
    position: absolute;
    top: 100px;
    left: 40px;
    color: var(--title-color);
}
.main__banner-lable-left {
    color: var(--white-color);
}
.main__banner-lable-right {
    color: var(--green-color);
}
.main__banner-title {
    width: 260px;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
@media screen and (max-width: 1199.98px){
    .main__banner-container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .main__banner-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}
@media screen and (max-width: 991.98px){
    .main__banner-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 767.98px){
    .main__banner-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main__banner-title {
        font-size: 28px;
    }
}
@media screen and (max-width: 599.98px){
    .main__banner-wrapper-left {
        top: 40px;
    }
    .main__banner-wrapper-right {
        top: 40px;
    }
    .main__banner-title {
        width: 180px;
    }
}
@media screen and (max-width: 479.98px){
    .main__banner-wrapper-left {
        left: 20px;
    }
    .main__banner-wrapper-right {
        left: 20px;
    }
    .main__banner-title {
        font-size: 18px;
    }
}
