.main__about {
    background-color: var(--light-grey-color);
}
.main__about-container {
    padding-top: 186px;
    padding-bottom: 200px;
}
.main__about-body {
    display: flex;
}
.main__about-img {
    display: flex;
    align-items: center;
}
.main__img-about {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.main__about-content {
    max-width: 690px;
}
.main__about-title {
    margin-bottom: 14px;
}
.main__about-text {
    margin-bottom: 46px;
}
.main__about-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 46px;
}
.main__about-item {
    display: flex;
    align-items: center;
    column-gap: 46px;
}
.main__about-icon {
    width: 46px;
    height: 46px;
}
.main__about-subtitle {
    margin-bottom: 7px;
}
.main__about-item-text {
    max-width: 444px;
}
.main__about-wrapper-button {
    display: inline-flex;
}
.main__about-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 28px 39px;
    transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: inherit;
        color: var(--title-color);
    }
}
.main__about-icon-arrow {
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 1199.98px){
    .main__about-container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 991.98px){
    .main__about-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .main__about-body {
        flex-direction: column-reverse;
        align-items: center;
    }
    .main__about-lable {
        text-align: center;
    }
    .main__about-text {
        margin-bottom: 20px;
    }
    .main__about-list {
        row-gap: 15px;
        margin-bottom: 20px;
    }
    .main__about-wrapper-button {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 767.98px){
    .main__about-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 479.98px){
    .main__about-item {
        column-gap: 15px;
    }
    .main__about-button {
        padding: 19px 24px;
    }
}