.main__news {
}
.main__news-container {
    padding-top: 177px;
    padding-bottom: 185px;
}
.main__news-body {
}
.main__news-lable {
}
.main__news-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.main__news-title {
    max-width: 700px;
}
.main__news-button {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 28px 44px;
    transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: var(--title-color);
        color: var(--white-color);
    }
}
.main__news-icon-arrow {
    width: 20px;
    height: 20px;
}
.main__news-list {
    display: flex;
    column-gap: 46px;
}
.main__news-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__news-wrapper-data {
    position: absolute;
    top: 46px;
    left: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    background-color: var(--white-color);
    border-radius: 50%;
}
.main__news-number {
}
.main__news-month {
}
.main__news-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 30px;
}
.main__news-wrapper-item {
    position: relative;
    z-index: 10;
    margin-top: -285px;

    max-width: 613px;
    padding: 57px 46px 57px 60px;
    border-radius: 31px 34px 30px 30px;
    background-color: var(--white-color);
    box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
}
.main__news-wrapper-admin {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.main__news-admin-icon {
    width: 20px;
    height: 20px;
    fill: var(--yellow-color);
}
.main__news-admin {
}
.main__news-subtitle {
    margin-top: 15px;
}
.main__news-text {
    margin-bottom: 15px;
}
.main__news-item-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 28px 47px;
    transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: inherit;
        border: 1px solid var(--title-color);
    }
}