.main__categories-container {
    padding-top: 176px;
    padding-bottom: 200px;
}
.main__categories-body {
    text-align: center;
}
.main__categories-title {
    margin-bottom: 40px;
}
.main__categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 122px;
}
.main__categories-item {
    padding: 29px 26px 17px 30px;
    width: 335px;
    border-radius: 30px;
    background-color: var(--light-grey-color);
    cursor: pointer;
    transition: box-shadow 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 0px 10px 5px rgb(202, 200, 201);
    }
}
.main__categories-wrapper-tag {
    display: flex;
}
.main__categories-img {
    display: block;
    max-width: 100%;
    height: 324px;
    object-fit: contain;
}
.main__categories-name {
    text-align: start;
    margin-bottom: 13px;
}
.categories-line {
    display: block;
    height: 1px;
    background-color: #DEDDDD;
    margin-bottom: 6px;
}
.main__categories-wrapper {
    display: flex;
    align-items: center;
}
.main__categories-price-before {
    margin-right: 8px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: var(--price-color);
    text-decoration: line-through;
}
.main__categories-price-after {
    margin-right: auto;
    font-weight: 700;
    line-height: normal;
    color: var(--title-color);
}
.main__categories-wrapper-button {
    display: flex;
    justify-content: center;
}
.main__categories-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 28px 49px;
    transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: inherit;
        color: var(--title-color);
    }
}
.main__categories-icon-arrow {
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 1199.98px){
    .main__categories-container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 991.98px){
    .main__categories-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .main__categories-title {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767.98px){
    .main__categories-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main__categories-list {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 479.98px){
    .main__categories-button {
        padding: 19px 24px;
    }
}