.news__list-container {
    padding-top: 177px;
}
.news__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.news__list-title {
    max-width: 700px;
}
.news__list-button {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 28px 44px;
    transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: var(--title-color);
        color: var(--white-color);
    }
}
.news__list-icon-arrow {
    width: 20px;
    height: 20px;
}
.news__list-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 46px;
}
.news__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__list-wrapper-image {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.news__list-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 30px;
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        transform: scale(1.1);
    }
}
.news__list-wrapper-data {
    position: absolute;
    top: 46px;
    left: 30px;
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    background-color: var(--white-color);
    border-radius: 50%;
}
.news__list-wrapper-item {
    position: relative;
    z-index: 10;
    margin-top: -285px;

    max-width: 613px;
    padding: 57px 46px 57px 60px;
    border-radius: 31px 34px 30px 30px;
    background-color: var(--white-color);
    box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
}
.news__list-wrapper-admin {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.news__list-admin-icon {
    width: 20px;
    height: 20px;
    fill: var(--yellow-color);
}
.news__list-subtitle {
    margin-top: 15px;
    &:hover {
        text-decoration: underline;
    }
}
.news__list-text {
    margin-bottom: 15px;
}
.news__list-item-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 28px 47px;
    transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: inherit;
        border: 1px solid var(--title-color);
    }
}
@media screen and (max-width: 1299.98px){
    .news__list-wrapper-item {  
        padding: 25px;
        margin-top: -280px;
    }
}
@media screen and (max-width: 1199.98px){
    .news__list-container {
        padding-top: 90px;
    }
    .news__list-list {
        flex-direction: column;
        row-gap: 20px;
    }
    .news__list-wrapper-item {  
        margin-top: -245px;
    }
}
@media screen and (max-width: 991.98px){
    .news__list-container {
        padding-top: 60px;
    }
    .news__list-lable,
    .news__list-title {
        text-align: center;
    }
    .news__list-wrapper {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767.98px){
    .news__list-container {
        padding-top: 20px;
    }
    .news__list-wrapper-data {
        top: 15px;
        left: 15px;
    }
}
@media screen and (max-width: 479.98px){
    .news__list-wrapper-item {
        padding: 15px;  
        margin-top: -145px;
    }
    .news__list-button,
    .news__list-item-button {
        padding: 19px 24px;
    }
}
@media screen and (max-width: 369.98px){
    .news__list-wrapper-item {  
        margin-top: -95px;
    }
}