.news__hero {
    position: relative;
    background-image: url('../img/hero/hero_news.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.news__hero-garlic {
    position: absolute;
    top: 20px;
    right: 25%;
    width: 140px;
    height: 140px;
    fill: #7EB693;
}
.news__hero-sead {
    position: absolute;
    top: 110px;
    left: 32%;
    width: 90px;
    height: 90px;
    fill: #7EB693;
}
.news__hero-sead_big {
    position: absolute;
    top: 140px;
    right: 29%;
    width: 130px;
    height: 130px;
    transform: scale(1, -1);
    fill: #7EB693;
}
.news__hero-container {
    position: relative;
    padding-top: 184px;
    padding-bottom: 184px;
}
.news__hero-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 991.98px){
    .news__hero {
        background-position: left;
    }
    .news__hero-sead_big,
    .news__hero-garlic,
    .news__hero-sead {
        display: none;
    }
}
@media screen and (max-width: 479.98px){
    .news__hero-title {
        color: var(--yellow-color);
    }
}