.portfolio__hero {
    position: relative;
    background-image: url('../img/hero/hero_portfolio.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.portfolio__hero-garlic {
    position: absolute;
    bottom: 35px;
    right: 65%;
    width: 140px;
    height: 140px;
    fill: #D1D1D1;
}
.portfolio__hero-sead {
    position: absolute;
    top: 115px;
    left: 25%;
    width: 90px;
    height: 90px;
    fill: #7DCAC9;
}
.portfolio__hero-sead_big {
    position: absolute;
    bottom: 85px;
    right: 25%;
    width: 140px;
    height: 140px;
    fill: #83C5C4;
}
.portfolio__hero-container {
    position: relative;
    padding-top: 184px;
    padding-bottom: 184px;
}
.portfolio__hero-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 991.98px){
    .portfolio__hero {
        background-position: right;
    }
    .portfolio__hero-garlic,
    .portfolio__hero-sead,
    .portfolio__hero-sead_big {
        display: none;
    }
    .portfolio__hero-title {
        color: var(--yellow-color);
    }
}