.quality__organic-container {
    padding-top: 164px;
}
.quality__organic-bg_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.quality__organic-container-content {
    max-width: 936px;
    margin: 0 auto;
    margin-top: 78px;
}
.quality__organic-title {
    margin-bottom: 28px;
}
.quality__organic-wrapper-why {
    display: flex;
    column-gap: 17px;
    margin-top: 70px;
}
.quality__organic-img-why,
.quality__organic-img-produce  {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.quality__organic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 63px 45px;
}
.quality__organic-subtitle {
    margin-bottom: 7px;
}
.quality__organic-wrapper-produce {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 17px;
    margin-top: 28px;
}
.quality__organic-wrapper-farm {
    margin-top: 70px;
}
.quality__organic-subtitle-farm {
    margin-bottom: 11px;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: 800;
    line-height: normal;
    color: var(--title-color);
}
.quality__organic-list {
    display: flex;
    column-gap: 28px;
    margin-top: 59px;
}
.quality__organic-item {
    display: flex;
    align-items: center;
    padding: 15px 53px 15px 17px;
    gap: 25px;
}
.quality__organic-number {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    color: var(--white-color);

    width: 69px;
    height: 69px;
    background-color: var(--green-color);
    border-radius: 50%;
}
@media screen and (max-width: 1199.98px){
    .quality__organic-container {
        padding-top: 90px;
    }
}
@media screen and (max-width: 991.98px){
    .quality__organic-container {
        padding-top: 60px;
    }
    .quality__organic-container-content {
        margin-top: 20px;
    }
    .quality__organic-title {
        margin-bottom: 15px;
    }
    .quality__organic-wrapper-why,
    .quality__organic-wrapper-farm,
    .quality__organic-wrapper-produce,
    .quality__organic-list {
        margin-top: 20px;
    }
    .quality__organic-content {
        padding: 15px 25px;
    }
    .quality__organic-item {
        padding: 15px 17px;
        gap: 15px;
    }
}
@media screen and (max-width: 767.98px){
    .quality__organic-container {
        padding-top: 20px;
    }
    .quality__organic-wrapper-why,
    .quality__organic-wrapper-produce  {
        flex-direction: column-reverse;
    }
    .quality__organic-subtitle-farm {
        font-size: 28px;
    }
    .quality__organic-list {
        flex-direction: column;
        row-gap: 10px;
    }
    .quality__organic-item {
        padding: 0px;
    }
}
@media screen and (max-width: 479.98px){
    .quality__organic-item {
        gap: 10px;
    }
    .quality__organic-number {
        font-size: 18px;    
        width: 39px;
        height: 39px;
    }
    .quality__organic-item-subtitle {
        font-size: 18px;    
    }
}