.quality__hero {
    position: relative;
    background-image: url('../img/hero/quality.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.quality__hero-sead {
    position: absolute;
    top: 110px;
    left: 25%;
    width: 90px;
    height: 90px;
    fill: #7DCAC9;
}
.quality__hero-sead_big {
    position: absolute;
    bottom: 57px;
    right: 27%;
    width: 130px;
    height: 130px;
    fill: #7DCAC9;
}
.quality__hero-container {
    position: relative;
    padding-top: 184px;
    padding-bottom: 184px;
}
.quality__hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
