.shop__categories-container {
    padding-top: 90px;
}
.shop__categories-body {
    text-align: center;
}
.shop__categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 122px;
}
.shop__categories-item {
    padding: 29px 26px 17px 30px;
    width: 335px;
    border-radius: 30px;
    background-color: var(--light-grey-color);
    cursor: pointer;
    transition: box-shadow 450ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 0px 10px 5px rgb(202, 200, 201);
    }
}
.shop__categories-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shop__categories-wrapper-tag {
    display: flex;
}
.shop__categories-img {
    display: block;
    max-width: 100%;
    height: 324px;
    object-fit: contain;
}
.shop__categories-name {
    text-align: start;
    margin-bottom: 13px;
}
.categories-line {
    display: block;
    height: 1px;
    background-color: #DEDDDD;
    margin-bottom: 6px;
}
.shop__categories-wrapper {
    display: flex;
    align-items: center;
}
.shop__categories-price-before {
    margin-right: 8px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: var(--price-color);
    text-decoration: line-through;
}
.shop__categories-price-after {
    margin-right: auto;
    font-weight: 700;
    line-height: normal;
    color: var(--title-color);
}
@media screen and (max-width: 991.98px){
    .shop__categories-container {
        padding-top: 60px;
    }
    .shop__categories-title {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767.98px){
    .shop__categories-container {
        padding-top: 20px;
    }
    .shop__categories-list {
        margin-bottom: 40px;
    }
    .shop__categories-item {
        padding: 15px;
        width: 250px;
    }
    .shop__categories-img {
        height: 180px;
    }
}
@media screen and (max-width: 479.98px){
}