.team__hero {
    position: relative;
    background-image: url('../img/hero/hero_team.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.team__hero-sead {
    position: absolute;
    top: 120px;
    left: 25%;
    width: 90px;
    height: 90px;
    fill: #DDAB84;
}
.team__hero-sead_big {
    position: absolute;
    top: 110px;
    right: 26%;
    width: 130px;
    height: 130px;
    fill: #DDAB84;
}
.team__hero-container {
    position: relative;
    padding-top: 184px;
    padding-bottom: 184px;
}
.team__hero-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 767.98px){
    .team__hero-sead_big {
        display: none;
    }
}
