:root {
    --title-color: #274C5B;
    --general-color: #525C60;
    --yellow-color: #EFD372;
    --green-color: #7EB693;
    --grey-color: #D4D4D4;
    --white-color: #fff;
    --price-color: #B8B8B8;
    --button-color: #EFF6F1;
    --light-grey-color: #F9F8F8;
}