@import './general-styles';
@import './reset-style';
@import './variable';
@import './header';
@import './main-hero';
@import './main-banner';
@import './main-about';
@import './main-categories';
@import './main-testimonial';
@import './main-offer';
@import './main-econis';
@import './main-gallery';
@import './main-new';
@import './about-hero';
@import './about-us';
@import './about-why';
@import './about-team';
@import './about-offer';
@import './subscribe';
@import './footer';
@import './burger-menu';
@import './slider';
@import './modal-window';
