@import './general-styles';
@import './reset-style';
@import './variable';
@import './header';
@import './main-hero';
@import './main-banner';
@import './main-about';
@import './main-product';
@import './main-testimonial';
@import './main-offer';
@import './main-econis';
@import './main-gallery';
@import './main-new';
@import './subscribe';
@import './burger-menu';
@import './footer';
@import './slider';
@import './modal-window';
