@import './general-styles';
@import './reset-style';
@import './variable';
@import './header';
@import './main-hero';
@import './main-banner';
@import './main-about';
@import './main-categories';
@import './main-testimonial';
@import './main-offer';
@import './main-econis';
@import './main-gallery';
@import './main-new';
@import './about-hero';
@import './about-us';
@import './about-why';
@import './about-team';
@import './about-offer';
@import './shop-hero';
@import './shop-categories';
@import './single-hero';
@import './single-card';
@import './single-info';
@import './single-categories';
@import './services-hero';
@import './services-grow';
@import './services-organic';
@import './quality-hero';
@import './quality-organic';
@import './portfolio-hero';
@import './portfolio-list';
@import './portfolio-single-hero';
@import './portfolio-single-description';
@import './team-hero';
@import './team-list';
@import './news-hero';
@import './news-list';
@import './blog-hero';
@import './blog-content';
@import './contact-hero';
@import './contact-main';
@import './contact-address';
@import './contact-form';
@import './subscribe';
@import './footer';
@import './burger-menu';
@import './slider';
@import './modal-window';
@import './loader';
